<!doctype html>
<html lang="en" class="h-100">
<head>  
    <meta charset="utf-8" />  
    <title>Fundus Image Diagnosis</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">  
    <script src="{{ url_for('static', filename='js/ajax_table_example.js') }}"></script>  
</head>
<body style="display: flex; flex-direction: column; height: 100%;">
<div class=" d-flex p-3 mx-auto flex-column">
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house"></i> Home</a>
        <a class="nav-link active" href="/single"><i class="bi bi-lightning"></i> Single Task</a>
        <a class="nav-link active" href="/single"><i class="bi bi-cpu"></i> Multi Task</a>
        <a class="nav-link active" href="#"><i class="bi bi-person-circle"></i> Contact</a>
    </nav>
</div>
